<div class="image-container">

  <% flash.each do |key, value| %>
       <div class="alert alert-info" role="alert" style="width: 450px; margin: auto; margin-top: -80px;"><%= value %></div>
  <% end %>
  </br>
  </br>
  <h1>Mastermind Groups</h1>
  </br>
  </br>
  </br>
  </br>
  <h2>learn, grow, collaborate & meet your tribe</h2>
</br>
  <div style='text-align:center;'>
     <% if current_user.present? %>
       <div class="col-sm-4 col-sm-offset-4" style="text-align:center;">
        <%= link_to 'Find A Mastermind Group', mastermind_groups_path, class:"btn btn-lg btn-default", style:"border-radius:0px; background-color: #eee; font-size: 22px; color: #093954; padding: 10px 50px 10px 50px;"  %>
      </div>
    <% else %>
      <div class="col-sm-4 col-sm-offset-4" style="text-align:center;">
        <%= link_to 'Find A Mastermind Group', new_user_registration_path, class:"btn btn-lg btn-default", style:"border-radius:0px; background-color: #eee; font-size: 22px; color: #093954; padding: 10px 50px 10px 50px;"  %>
      </div>
    <% end %>
  </br>
  </div>
</br>
</br>
</div>
<div style="text-align: center;">
</br>
</br>
</br>
  <h1>Past Mastermind Groups</h1>
</br>
</br>
</br>
  <div class="container">
   <div class="row">

    <div class="col-md-6">
      <h3>Passive Income Mastermind Session</h3>
      <p style="font-size: 16px;">October 5th, 2016</p>
    </br>
      <%= image_tag("circle1.jpg") %><%= image_tag("circle7.png") %><%= image_tag("circle2.jpg") %><%= image_tag("circle3.png") %>
      </br>
      </br>
      <p style="font-size: 16px;">+ 6 others</p>
    </div>

    <div class="col-md-6">
      <h3>Tavel Bloggers Mastermind Session</h3>
      <p style="font-size: 16px;">October 9th, 2016</p>
    </br> 
      <%= image_tag("circle4.jpg") %><%= image_tag("circle5.png") %><%= image_tag("circle6.png") %><%= image_tag("circle7.png") %>
      </br>
      </br>
      <p style="font-size: 16px;">+ 4 others</p>
    </div>
    

   </div>
 </div>
 </br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</div>
<div style="text-align: center; color: white;" class="image-container">
  <h1 style="margin-top:-25px;">How does it work?</h1>
</br>
</br>
</br>
</br>
  <div class="container">
   <div class="row">

    <div class="col-md-7">
      <%= image_tag("hangouts.jpg") %>
    </div>

    <div class="col-md-5" style="text-align:left; margin-left: -20px;">
      <div style="">
        <div style="padding: 5px 15px 15px 0px;">
          <ul>
      <li style="font-size: 16px;">Select group session from a topic you are interested in</li>
    </br>
      <li style="font-size: 16px;">Selected individuals will receive an invitation to confirm 4 days before the chat takes place</li>
    </br>
      <li style="font-size: 16px;">Before accepting invitation see profiles of who else is participating</li>
    </br>
      <li style="font-size: 16px;">Show up on day of the session to hangout link provided and join in the discussion</li>
    </br>
      <li style="font-size: 16px;">Ask questions, contribute answers, share thoughts & ideas, conect with experts during the session</li>


    </ul>
      </div>
      </div>
    </div>

   </div>
 </div>
 </br>
</br>
</br>
</br>
</br>
</br>
</div>
<div style="text-align: center;">
</br>
</br>
</br>
  <h1>Upcoming Mastermind Groups</h1>
</br>
</br>
</br>
  <div class="container">
   <div class="row">

    <div class="col-md-6">
      <h3>Growth Hacking Mastermind Session</h3>
      <p style="font-size: 16px;">October 15th, 2016</p>
    </br>
      <%= image_tag("circle8.png") %><%= image_tag("circle9.png") %><%= image_tag("circle10.png") %>
      </br>
      </br>
      <p style="font-size: 16px;">+ 6 others interested</p>
    </div>

    <div class="col-md-6">
      <h3>Startup Ideation Mastermind Session</h3>
      <p style="font-size: 16px;">October 29th, 2016</p>
    </br> 
      <%= image_tag("circle5.png") %><%= image_tag("circle11.png") %><%= image_tag("circle12.png") %>
      </br>
      </br>
      <p style="font-size: 16px;">+ 2 others interested</p>
    </div>
    

   </div>
 </div>
 </br>
</br>
</br>
</br>
</br>
</br>
</div>